.auth-container {
  margin-top: 50px;
  display: flex;
  /* display: inline-block; */
}

.sign-up,
.log-in {
  width: 128px;
  height: 21px;
  left: 886px;
  top: 327px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 101.1%;
  cursor: pointer;
}
.active {
  color: rgba(26, 59, 88, 0.33);
}
